
@font-face {
    font-family:title ;
    src: url(28\ Days\ Later.ttf);
}
/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
    border-radius: 0px;
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

.active{
    font-weight: 600;
  }

html{
    min-height: 100vh;
}

/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  min-height: 100%;
}

a:hover{
    cursor: pointer;
}
/* first Div */

.cover-container {
  max-width: 100%;
  min-height: 100vh;
  background: url("coverBG.png");
  background-size: cover;
}

/* center dev */
main{
    padding-left: 80px;
}
main H1{
 font-family: title;
 font-size: 80px;
}
main p{
   max-width: 900px;
   font-size: 1.45rem !important;
   }



 /* Header */


 header .nav-cont{
    padding: 0px 80px 0px 70px;
  }
  

  header .myNav{
    background-color: transparent !important;
    padding: 0px;
    margin: 0px;
   
  }

.fixed-top{
    background-color:#161B22;
    padding: 20px;
 }
 .fixed-top-no-home{
    background-color:#161B22;
    padding: 20px;
 }
 .no-home{
    min-height: 80px;
    }
  header .myNav-list{
    padding-left: 0px;
  }

  header .myNav ul li{
    margin-right: 20px;
  }
header .searchGroup{
    background-color: transparent !important;
}
 header .input-group-append{
    margin-left: -40px !important;
    margin: 1px;
    background-color: transparent !important;
 }

 header .searchGroup .input-group{
    border-radius: 40px;
    overflow: hidden;
    background-color: transparent !important;
 }


 header .searchGroup .input-group input ,header .searchGroup .input-group button {
    background-color: #1F242B!important;
    border: none !important ;
 }
  

