/*General css*/
@font-face {
    font-family: title;
    src: url(28\ Days\ Later.ttf);
}

/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
    border-radius: 0px;
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
}

.active {
    font-weight: 600;
}

html {
    min-height: 100vh;
}

/*
 * Base structure
 */

body {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    min-height: 100%;
}

a:hover {
    cursor: pointer;
}

/* first container */
.cover-container {
    max-width: 100%;
    min-height: 100vh;
    background: url("img/cover-bg.png");
    background-size: cover;
}

/* center dev */
main {
    padding-left: 80px;
}

main H1 {
    font-family: title;
    font-size: 80px;
}

main p {
    max-width: 900px;
    font-size: 1.45rem !important;
}



/* Header */


header .nav-cont {
    padding: 0px 80px 0px 70px;
}


header .myNav {
    background-color: transparent !important;
    padding: 0px;
    margin: 0px;

}

.fixed-top {
    background-color: #161B22;
    padding: 20px;
}

.fixed-top-no-home {
    background-color: #161B22;
    padding: 20px;
}

.no-home {
    min-height: 80px;
}

header .myNav-list {
    padding-left: 0px;
}

header .myNav ul li {
    margin-right: 20px;
}

header .searchGroup {
    background-color: transparent !important;
}

header .input-group-append {
    margin-left: -40px !important;
    margin: 1px;
    background-color: transparent !important;
}

header .searchGroup .input-group {
    border-radius: 40px;
    /* overflow: hidden; */
    background-color: transparent !important;
}


header .searchGroup .input-group input, header .searchGroup .input-group button {
    background-color: #1F242B !important;
    border: none !important;
}

header .searchRes {
    position: absolute;
    /* bottom: 20; */
    right: 0px;
    width: 100%;
    background-color: #000;
    display: none;
}

header .searchRes .result-Item {
    width: 100%;
    background-color: #0D1117;
    align-items: center;
    border-bottom: 1px white solid;
}

header .result-Item img {
    margin-right: 10px;
}

/*  movies */
.movies {
    padding-block: 50px;
    margin-inline: auto;
    min-width: 100%;
}

.movies h2 {
    margin-bottom: 20px;
}

.movies #filter {
    display: flex;
    padding-left: 2px;
    margin-bottom: 40px;
}

.movies ul li {
    margin-right: 20px;
    list-style: none;
}

.movies col {
    padding: 0px !important;
}

.movies ul li a {
    color: rgba(248, 249, 250, 0.65);
    text-decoration: none;

}


.movies ul li a.active {
    color: #fff;

}

<<<<<<< HEAD .movies #date {

    /* display: none; */
    =======.movies #date {
        /* display: block; */
        >>>>>>>653e410df3bec0713ae9aa7ed79a6915d8b8cd7c
    }

    .movies-Container {
        /* gap: 2%; */
    }

    .movies .card {
        position: relative;
        padding: 0px;
        margin: 0px;
    }

    .movies .card div {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.95);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
    }

    .movies-Container .card:hover .card-body, .movies-Container .card.hover .card-body {
        display: flex;
    }


    /* Footer */

    footer {
        background-color: #010409;
        padding-top: 40px;
        padding-left: 120px;
        padding-right: 120px;

    }

    footer h2 {
        margin-bottom: 40px;
    }

    Footer .our-team {
        flex-wrap: wrap;
        margin-bottom: 40px;


    }

    Footer .our-team .card {

        padding: 0px 30px;
        height: 310px;

        border-radius: 0px 20px !important;
        text-align: center;
        overflow: hidden;
        background-color: #0D1117;
    }

    Footer .our-team .card p {
        color: #adb5bd;
    }

    Footer .our-team .card img {
        height: 100px;
        max-width: 100px;
        border-radius: 50% !important;
        margin: auto;
        border-radius: 50% !important;
        margin-top: 30px;
    }

    Footer .lastFooter {
        background-color: #000;
        padding: 15px;
    }


    /*  --------------------------------------------------------------- */
    #movie-backdrop {
        width: 100%;
    }

    .actorList {
        border: none;
    }

    .actorList:hover {
        cursor: pointer;
        border: 2px solid white;
    }

    :root {
        --yellow-clr: rgb(234 179 8);
    }

    .text-yellow {
        color: var(--yellow-clr);
    }

    .bg-description {
        position: relative;
        color: white;
        overflow-x: hidden;
    }

    .bg-description::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: -22px;
        right: -22px;
        z-index: -1;
        background-image: var(--background-image);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center right;
        filter: blur(15px);
        --webkit-filter: blur(15px);
    }

    /****** Start: Carousel ******/
    .prev-btn, .next-btn {
        background: rgba(0, 0, 0) !important
    }

    .carousel-container {
        overflow-x: hidden;
    }

    .track {
        position: relative;
        left: 0;
    }

    /****** End: Carousel ******/

    .title {
        font-weight: 800;
        font-size: 25px;
        padding: 10%;
        position: absolute;
        bottom: 0;
        z-index: 1;
        transition: all 0.5s ease;
    }

    .title:hover {
        transform: translate(2px, -69px);
        -webkit-transform: translate(2px, -69px);
        -moz-transform: translate(2px, -69px);
        -o-transform: translate(2px, -69px);
        -ms-transform: translate(2px, -69px);
    }

    /* about */
    .ico-div {
        display: flex;
    }

    .ico-div img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: 3px solid;
        margin: 15px;
    }

    .ico-div img:hover {
        background-color: chartreuse;
    }

    .ico-div p {
        margin: auto;
    }

    .team .team-carousel, .team .team-slider {
        overflow: hidden;
    }

    .team .team-item {
        box-sizing: content-box;
        padding: 30px 30px 0 30px;
        margin: 30px 15px;
        text-align: center;
        min-height: 350px;
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    }

    .team .team-item .team-img {
        width: 90px;
        border-radius: 50%;
        border: 4px solid #fff;
        margin: 0 auto;
    }

    .team .team-item h3 {
        font-size: 18px;
        font-weight: bold;
        margin: 10px 0 5px 0;
        color: #111;
    }

    .team .team-item h4 {
        font-size: 14px;
        color: #999;
        margin: 0;
    }

    .team .team-item .quote-icon-left, .team .team-item .quote-icon-right {
        color: #fedac0;
        font-size: 26px;
    }

    .team .team-item .quote-icon-left {
        display: inline-block;
        left: -5px;
        position: relative;
    }

    .team .team-item .quote-icon-right {
        display: inline-block;
        right: -5px;
        position: relative;
        top: 10px;
    }

    .team .team-item p {
        font-style: italic;
        margin: 0 auto 15px auto;
    }

    .team .swiper-pagination {
        margin-top: 20px;
        position: relative;
    }

    .team .swiper-pagination .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: #fff;
        opacity: 1;
        border: 1px solid #ef6603;
    }

    .team .swiper-pagination .swiper-pagination-bullet-active {
        background-color: #ef6603;
    }


    /**************** SINGLE MOVIE PAGE ****************/
    .row {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .logo img {
        height: 100px;
        filter: brightness(9);
        padding: 0;
        margin-left: 10px;
    }

    .card_effects {
        padding: 0;
        overflow: hidden;
        /* max-width: 350px; */
        margin-block: 10px;
    }

    .card_effects article {
        width: 100%;
        padding: 10%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        transition: all 0.5s ease;
    }


    .card_effects h2 {
        color: #fff;
        font-weight: 800;
        font-size: 25px;
    }

    .card_effects h4 {
        font-weight: 500;
        color: #fff;
        font-size: 16px;
        width: fit-content;
        padding: 2px 15px;
        border-radius: 333px;
    }

    #movie-actors h4 {
        margin-inline: auto;
    }

    .card_effects h4.very-low {
        background-color: red;
        color: white;
    }

    .card_effects h4.low {
        background-color: yellow;
        color: black;
    }

    .card_effects h4.medium {
        background-color: orange;
        color: black;
    }

    .card_effects h4.high {
        background-color: green;
        color: white;
    }

    .card_effects img {
        width: 94%;
        top: 0;
        left: 0;
        opacity: 0.4;
        transition: all 4s ease;
    }

    #movie-actors .card_effects img {
        opacity: 1;
    }

    /*hovers*/

    .card_effects:hover {
        cursor: pointer;
        overflow: hidden;
    }

    .card_effects {
        position: relative;
    }

    .card_effects:hover img {
        opacity: 0.1;
        width: 100%;
        transform: scale(1.5);
    }

    .card_effects:hover article {
        transform: translate(-50%, -50px);
    }

    #movie-actors img {
        width: 100%;
        height: 180px;
    }

    #movie-production-companies li {
        vertical-align: middle;
    }

    #movie-production-companies img {
        height: 60px;
    }