:root {
    --yellow-clr: rgb(234 179 8);
}

.text-yellow {
    color: var(--yellow-clr);
}

.bg-description {
    position: relative;
    color: white;
    overflow-x: hidden;
}

.bg-description::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -22px;
    right: -22px;
    z-index: -1;
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

.bg-dark {
    background-color: #292929 !important;
    transform: translateY(-10px);
}

/**************** SINGLE MOVIE PAGE ****************/
.card_effects {
    background-color: rgba(57, 62, 93, 0.7);
    padding: 0;
    overflow: hidden;
    /* max-width: 350px; */
    margin: 5px;
}

.card_effects article {
    padding: 10%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    transition: all 0.5s ease;
}


.card_effects h2 {
    color: #fff;
    font-weight: 800;
    font-size: 25px;
    border-bottom: #fff solid 1px;
}

.card_effects h4 {
    font-weight: 300;
    color: #fff;
    font-size: 16px;
}

.card_effects img {
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.4;
    transition: all 4s ease;
}

/*hovers*/

.card_effects:hover {
    cursor: pointer;
}

.card_effects:hover img {
    opacity: 0.1;
    transform: scale(1.5);
}

.card_effects:hover article {
    transform: translate(2px, -69px);
    -webkit-transform: translate(2px, -69px);
    -moz-transform: translate(2px, -69px);
    -o-transform: translate(2px, -69px);
    -ms-transform: translate(2px, -69px);
}

#movie-actors img {
    width: 180px;
    height: 180px;
}

#movie-production-companies li {
    vertical-align: middle;
}

#movie-production-companies img {
    height: 60px;
}

#movie-backdrop {
    width: 100%;
}

#actors {
    margin: 24px 16px 0 0;
}

#actor-pic {
    width: 100%;
}